In [1]:
import pandas as pd
import numpy as np

In [2]:
books = pd.read_csv("Books.csv")
books.head()

C:\Users\niles\AppData\Local\Temp\ipykernel_18360\156505208.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("Books.csv")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,https://images.amazon.com/images/P/0195153448....,https://images.amazon.com/images/P/0195153448....,https://images.amazon.com/images/P/0195153448....
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,https://images.amazon.com/images/P/0002005018....,https://images.amazon.com/images/P/0002005018....,https://images.amazon.com/images/P/0002005018....
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,https://images.amazon.com/images/P/0060973129....,https://images.amazon.com/images/P/0060973129....,https://images.amazon.com/images/P/0060973129....
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,https://images.amazon.com/images/P/0374157065....,https://images.amazon.com/images/P/0374157065....,https://images.amazon.com/images/P/0374157065....
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,https://images.amazon.com/images/P/0393045218....,https://images.amazon.com/images/P/0393045218....,https://images.amazon.com/images/P/0393045218....

In [3]:
ratings = pd.read_csv("Ratings.csv")
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [4]:
users = pd.read_csv("Users.csv")
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [5]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [6]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [7]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [8]:
users = users.drop(columns ="Age",axis = 1)

In [9]:
users.head()

   User-ID                            Location
0        1                  nyc, new york, usa
1        2           stockton, california, usa
2        3     moscow, yukon territory, russia
3        4           porto, v.n.gaia, portugal
4        5  farnborough, hants, united kingdom

# Popularity Based Recommendetion System

In [10]:
ratings_with_ISBN = ratings.merge(books,on="ISBN")

In [11]:
ratings_with_ISBN.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....

In [12]:
num_rating = ratings_with_ISBN.groupby("Book-Title").count()["Book-Rating"].reset_index()
num_rating = num_rating.rename(columns = {"Book-Rating":"num_rating"})
num_rating.head()

                                          Book-Title  num_rating
0   Earth Prayers From around the World: 365 Pray...          10
1   Final Fantasy Anthology: Official Strategy Gu...           4
2   Flight of Fancy: American Heiresses (Zebra Ba...           2
3   Little Comic Shop of Horrors (Give Yourself G...           4
4                                       Mystery Mile           2

In [13]:
avg_rating = ratings_with_ISBN.groupby("Book-Title").mean()["Book-Rating"].reset_index()
avg_rating =avg_rating.rename(columns = {"Book-Rating":"avg_rating"})
avg_rating.head()

                                          Book-Title  avg_rating
0   Earth Prayers From around the World: 365 Pray...        5.00
1   Final Fantasy Anthology: Official Strategy Gu...        5.00
2   Flight of Fancy: American Heiresses (Zebra Ba...        4.00
3   Little Comic Shop of Horrors (Give Yourself G...        1.25
4                                       Mystery Mile        0.00

In [14]:
popularity_df = num_rating.merge(avg_rating,on="Book-Title")

In [15]:
popularity_df.shape

(68755, 3)

In [16]:
popularity_df = popularity_df[popularity_df["num_rating"]>=250].sort_values("avg_rating",ascending = False).head(50)

In [17]:
popularity_df

,Book-Title,num_rating,avg_rating
24876,Harry Potter and the Order of the Phoenix (Boo...,335,5.585075
24884,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
612,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
7252,Bridget Jones's Diary,270,3.751852
58321,The No. 1 Ladies' Detective Agency (Today Show...,431,3.417633
26518,How to Be Good,304,3.305921
49920,Snow Falling on Cedars,627,3.236045
1231,A Painted House,833,3.222089
53948,The Bridges of Madison County,371,3.097035
55697,The Firm,535,3.063551
47454,STONES FROM THE RIVER,345,2.976812
2725,All I Really Need to Know,258,2.879845
57524,The Lost World,251,2.864542
57057,The Kitchen God's Wife,278,2.852518
59156,The Rainmaker,388,2.695876
58691,The Perfect Storm : A True Story of Men Agains...,365,2.408219

In [18]:
popularity_df = popularity_df.merge(books,on="Book-Title").drop_duplicates("Book-Title")

In [19]:
popularity_df = popularity_df.drop(columns = ["ISBN","Publisher","Year-Of-Publication","Image-URL-S","Image-URL-L"],axis = 1)

In [20]:
popularity_df

,Book-Title,num_rating,avg_rating,Book-Author,Image-URL-M
0,Harry Potter and the Order of the Phoenix (Boo...,335,5.585075,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...
4,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652,J. K. Rowling,https://images.amazon.com/images/P/059035342X....
6,"A Child Called \It\"": One Child's Courage to S...",265,4.086792,Dave Pelzer,https://images.amazon.com/images/P/1558743669....
8,Bridget Jones's Diary,270,3.751852,Helen Fielding,https://images.amazon.com/images/P/0330332775....
14,The No. 1 Ladies' Detective Agency (Today Show...,431,3.417633,Alexander McCall Smith,https://images.amazon.com/images/P/1400034779....
15,How to Be Good,304,3.305921,Nick Hornby,https://images.amazon.com/images/P/1573229326....
18,Snow Falling on Cedars,627,3.236045,David Guterson,https://images.amazon.com/images/P/0151001006....
25,A Painted House,833,3.222089,John Grisham,https://images.amazon.com/images/P/044023722X....
30,The Bridges of Madison County,371,3.097035,Robert James Waller,http://images.amazon.com/images/P/044651652X.0...
35,The Firm,535,3.063551,John Grisham,https://images.amazon.com/images/P/0385416342....
42,STONES FROM THE RIVER,345,2.976812,Ursula Hegi,https://images.amazon.com/images/P/0684844729....
46,All I Really Need to Know,258,2.879845,ROBERT FULGHUM,http://images.amazon.com/images/P/080410526X.0...
48,The Lost World,251,2.864542,Michael Crichton,https://images.amazon.com/images/P/034540288X....
55,The Kitchen God's Wife,278,2.852518,Amy Tan,https://images.amazon.com/images/P/0399135782....
60,The Rainmaker,388,2.695876,JOHN GRISHAM,https://images.amazon.com/images/P/044022165X....
67,The Perfect Storm : A True Story of Men Agains...,365,2.408219,Sebastian Junger,https://images.amazon.com/images/P/0060977477....

# Collaborative Filtering Based Recommender System

In [21]:
x = ratings_with_ISBN.groupby("User-ID").count()["Book-Rating"]>200
top_users = x[x].index

In [22]:
filtered_rating = ratings_with_ISBN[ratings_with_ISBN["User-ID"].isin(top_users)]

In [23]:
filtered_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
18,98391,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
47,227447,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....,https://images.amazon.com/images/P/034545104X....
65,278418,038550120X,0,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
70,11676,038550120X,10,A Painted House,JOHN GRISHAM,2001,Doubleday,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...,http://images.amazon.com/images/P/038550120X.0...
...,...,...,...,...,...,...,...,...,...,...
196714,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
196715,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
196716,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
196717,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
196718,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [24]:
y=  filtered_rating.groupby('Book-Title').count()['Book-Rating']>=50
y

Book-Title
 Earth Prayers From around the World: 365 Prayers, Poems, and Invocations for Honoring the Earth    False
 Final Fantasy Anthology: Official Strategy Guide (Brady Games)                                     False
 Little Comic Shop of Horrors (Give Yourself Goosebumps, Book 17)                                   False
 Q-Zone (Star Trek The Next Generation, Book 48)                                                    False
 The Tender Commandments : Reflections on the Father's Love                                         False
                                                                                                    ...
Ã?coute ma diffÃ©rence (Le Temps des femmes)                                                        False
Ã?Â?ber das Fernsehen.                                                                              False
Ã?Â?ber die Pflicht zum Ungehorsam gegen den Staat.                                                 False
Ã?Â?lpiraten.                                                                                       False
Ã?Â?stlich der Berge.                                                                               False
Name: Book-Rating, Length: 16992, dtype: bool

In [25]:
famous_books = y[y].index
famous_books

Index([], dtype='object', name='Book-Title')

In [33]:
final_rating = filtered_rating[filtered_rating['Book-Title'].isin(famous_books)]

In [27]:
final_rating

(0, 10)

In [28]:
pt = final_rating.pivot_table(index = 'Book-Title',columns = 'User-ID',values = 'Book-Rating')

In [29]:
pt.fillna(0,inplace = True)

Empty DataFrame
Columns: []
Index: []

In [30]:
from sklearn.metrics.pairwise import cosine_similarity

In [1]:
similarity_score = cosine_similarity(pt)
similarity_score.shape

In [ ]:
def recommend(book_name):
    index = np.where(pt.index==book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_score[index])),key = lambda x:x[1],reverse = True)[1:6]
    for i in similar_items:
        print(pt.index[i[0]])

In [ ]:
recommend("Message in a Bottle")

In [ ]:
recommend("The Notebook")

In [ ]:
recommend("1984")

In [ ]:
import joblib 
joblib.dump(similarity_score,"similarity_score.joblib")
joblib.dump(popularity_df,"popular.joblib")
joblib.dump(books,"Books.joblib")
joblib.dump(pt,"pt.joblib")